.banner {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
  background-color: rgb(0, 0, 1);
}
.banner .slider {
  position: absolute;
  width: 200px;
  height: 250px;
  top: 10%;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRun 20s linear infinite;
  z-index: 3;
}
@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateX(-10deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-10deg) rotateY(360deg);
  }
}

.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(550px);
}
.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;

}

.banner .content{
    position: absolute;
  top: 50%;
    left: 50%;
    transform: translate(-50%);
width: min(100% , 100vh);
height: max-content;
/* padding-bottom: 100px; */
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;



}

.banner .content h1{
    position: relative;
    color: bisque;
}
.banner .content h1::after{
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 2;
    -webkit-text-stroke: 2px white;
    color: transparent;
}

    

.banner .content .model{
    /* background-image:url(photo/model.jpg) ; */
    width: 100%;
    height: 100%;
    
 background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    background-position: top center;
    z-index: 1;
}
p{position: sticky;
    bottom: 20%;
    color: aliceblue;}
